/* ---------- Container Component ---------- */
.Container-wrap {
  display: flex;
  flex-wrap: wrap;
}

.Container-nowrap {
  display: flex;
  flex-wrap: nowrap;
}

.Container-one-line {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.ContainerWrapCenter {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.Container-wrap-center-cross {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.Container-wrap-center-axis {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.Container-nowrap-center {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.Container-nowrap-spacebetween {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.Container-nowrap-center-cross {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.Container-nowrap-center-axis {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.Container-nowrap-start {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start
}

.Container-nowrap-end {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-end;
}

.Container-wrap-end {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
}

.Container-nowrap-center-end {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-end;
}

.Container-nowrap-center-start {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
}

/* ---------- Margin & Padding Component ---------- */
.Disabled {
  opacity: 0.5;
}

.NoPadding {
  padding: 0px !important;
}

.Padding-r-0 {
  padding-right: 0px !important;
}

.Padding-5 {
  padding: 0.3125em !important;
}

.No-margin {
  margin: 0px !important;
}

.Margin-t-05em {
  margin-top: 0.5em !important;
}

.Margin-t-5 {
  margin-top: 0.3125em !important;
}

.Margin-t-10 {
  margin-top: 0.625em !important;
}

.Margin-t-20 {
  margin-top: 1.25em !important;
}

.Margin-t-40 {
  margin-top: 2.5em !important;
}

.Margin-l-01 {
  margin-left: 0.1em !important;
}

.Margin-l-10 {
  margin-left: 0.625em !important;
}

.Margin-l-5 {
  margin-left: 0.3125em !important;
}

.Margin-l-10 {
  margin-left: 0.625em !important;
}

.Margin-r-5 {
  margin-right: 0.3125em !important;
}

.Margin-r-10 {
  margin-right: 0.625em !important;
}

.Margin-l-r-10 {
  margin-left: 0.625em !important;
  margin-right: 0.625em !important;
}

.Margin-b-5 {
  margin-bottom: 0.3125em !important;
}

.Margin-b-10 {
  margin-bottom: 0.625em !important;
}

.Margin-b-16 {
  margin-bottom: 1em !important;
}

.Margin-b-24 {
  margin-bottom: 1.5em !important;
}

.Padding-t-5 {
  padding-top: 0.3125em !important;
}

.Padding-l-02 {
  padding-left: 0.2em !important;
}
